div.boardPosition {
    height: 75px;
    border: 1px solid rgba(0, 0, 0, 1);
    cursor: not-allowed;
}

    div.boardPosition.selectable:hover, div.boardPosition.EndSelectable:hover {
        cursor: pointer;
    }