@switch (Outcome)
{
    case Common.Enum.Outcome.Win:
        <img src="/Win.jpg" alt="you're winner" width="250" height="250" />
        break;
    case Common.Enum.Outcome.Lose:
        <img src="/lose.png" alt="you're loser" width="250" height="250" />
        break;
    case Common.Enum.Outcome.Draw:
        <div style="width: 250px; height: 250px;">
            <span>You're... draw :( </span>
        </div>
        break;
    default:
        throw new ArgumentException(nameof(Outcome));
}

@code {
    [Parameter] public Common.Enum.Outcome Outcome { get; set; }
}
